<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="https://kit.fontawesome.com/27dccb8088.js" crossorigin="anonymous"></script>
    <title>Where in the world?</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="index.html">Where is the world?</a></li>
            <img src="/images/moon.png" id="icon"> 
        </ul>  
    </nav>

    <div class="container-1">
        <div>
            <span class="icon"><i class="fas fa-search"></i></span>
            <input type="search" id="search" placeholder="Search for a country..." />
        </div>
        <div>
            <span class="icon"><i class="fas fa-search"></i></span>
            <input type="search" id="search" placeholder="Search for a country..." />
        </div>
    </div>

    <script src="/scripts/navbar.js"></script>
    
</body>
</html>