*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --navbar-color: white;
    --background-color: white;
    --letter-color: #0E0D0D;
}

.dark-theme{
    --navbar-color: #273640;
    --background-color: #212E37;
    --letter-color: white;
}

body{
    font-family: sans-serif;
    background: var(--background-color);
    
}

nav{
    background: var(--navbar-color);
    padding: 5px 20px;
    box-shadow: 0.5px 0.5px 5px rgb(105, 105, 105);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--letter-color);
}

a:hover{
    text-decoration: none;
}

.menu li{
    font-size: 17.8px;
    padding: 15px 5px;
}

#icon{
    width: 14px;
    cursor: pointer;
}

.menu li a{
    display:block;
}

.logo a{
    font-size: 22px;
    font-weight: bolder;
}

/*Mobile Menu*/
.menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*Table Menu*/
@media all and (min-width: 458px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1
    }
    .item.button{
        width: auto;
        order: 1;
        /*display: black;*/
    }
}